
.home {
  width: 100%;
  min-height: 50vh;
  background: #fff;
  padding: 30px;
  margin: 50px auto 10px 240px;
}

.banner {
  width: 80vw;
  height: 300px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.banner img {
  width: 80vw;
  object-fit: cover;
}

.banner .btn-banner {
  position: absolute;
  top: 290px;
  left: 51%;
  text-decoration: none;
  font-size: 1.3rem;
  opacity: 0.1;
  border: 1px solid #333;
  padding: 13px;
}

.home h1, h3 {
  text-align: center;
  color: #888;
}

.home h1 {
  margin: 80px auto;
}

.home p {
  color: #888;
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-large {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 14px;
}

.category-grid {
  width: 99%;
}

.category-grid button {
  text-align: center;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 12px;
  font-size: 1.5rem;
  color: #fff;
  background: #05a359;
}

.category-grid a {
  text-decoration: none;
}